@import url('https://fonts.googleapis.com/css?family=Oxygen|Pompiere&display=swap');

*{
	box-sizing: border-box
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	background: #9F1D35;
}

h1{
	font-family: 'Pompiere', cursive;
}

a{
	color: #9F1D35;
}


body {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	color:#333;
	overflow-x: hidden;
}

.v-header{
	height:100vh;
	display:flex;
	align-items: center;
	color:#fff;
}

.container{
	min-width: 960px;
	max-width: 1024px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}


.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* sadasdasd */

.fullscreen-video-wrap video{
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 1;
	opacity: 0.4;
	overflow: hidden;
}

.header-content{
	margin-left: -25vw;
	z-index: 2;
}

.header-content h1{
	font-size: 50px;
	width: 800px;
	margin-bottom: 0;
	color: #FFF;
}

.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 1rem;
	color: #FFF;
}

.btn{
	font-family: 'Pompiere', cursive;
	background: 0;
	color: #FFFFFF;
	border: 4px solid #9F1D35;
	border-radius: 50px;
	font-size: 1.5rem;
	padding: 0.5rem 1.2rem;
	text-decoration: none;
}

.section{
	padding: 10px 0;
}

.aboutP{
	display: block;
	margin: 30px 30px 0 0;
	max-width: 600px;
	float: left;
	text-align: left;
}

.photo img{
	max-width: 35%;	
}

.nhf{
	top: 45%
}

.section-a{
	color: #fff;
	height: 540px;
	position: relative;
}

.aboutP h1{
	margin-top: -5px;
}

.section-b{
	position: relative;
	min-height: 4vh;
	background: #FFF;
}

.section-b p{
	display: block;
	overflow: hidden;
}

.project-container{
	display: inline-block;
	width: 50vw;
}

.projects{
	display: block;
	align-items: center;
	float:left; 
	width: 15vw;
	min-height: 30vh;
	margin: 0 10px 0 10px;
}

.projects img{
	max-width: 15vw;
	max-height: 15vh;
}

.projects p {
	display: inline-block;
	text-align: center;
	padding: 0 5 0 5;
	max-width: 15vw;
	font-size: 0.8rem;
}

#snackbar {
 	visibility: hidden; /* Hidden by default. Visible on click */
 	min-width: 700px; /* Set a default minimum width */
	margin-left: 250px; /* Divide value of min-width by 2 */
 	background-color: #9F1D35; /* Black background color */
 	color: #FFF; /* White text color */
  	text-align: left; /* Centered text */
 	border-radius: 2px; /* Rounded borders */
 	padding: 16px; /* Padding */
 	position: fixed; /* Sit on top of the screen */
 	z-index: 1; /* Add a z-index if needed */
 	left: 21%; /* Center the snackbar */
 	bottom: 30px; /* 30px from the bottom */
 	letter-spacing: 3px;
 	line-height: 27px;
	font-size: 15px;
}

.AInfo{
	text-align: left;
	display: block;
	float: left;
	overflow: hidden;
	max-width: 500px;
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.Deliverables{
	text-align: left;
	padding-top: 1vh;
	display: block;
	z-index: 4;
}


.Deliverables a{
	color: #6DF3D1;
}

.underline{
	text-decoration: underline;
}

.key{
	color: #6DF3D1;
}

.textProject{
	float: left;
	display: block;
	width: 100%;
}

 /* Slideshow container */
 
 
 .slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	z-index: 1;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #686868;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #797979;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom:20px;
	width: 100%;
	text-align: center;
  }
  .mySlides {
	display:none;
  }
  .active-slide {
	display:block;
  }
  /* Number text (1/3 etc) */
  .numbertext {
	color: #686868;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }


@media(max-width:960px){
	.container{
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

/* Footer Extra */

footer{
	color: #FFF;
	background-color: #FFF;
	position: absolute;
	width: 100vw;
	margin-top: 2vh;
}

