@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:700i');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*{
	box-sizing: border-box
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}


body {
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-size: 1rem;
	line-height: 1.3;
	color:#333;
	overflow-x: hidden;
}

.v-header{
	height:100vh;
	display:flex;
	align-items: center;
	color:#fff;
}

.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.fullscreen-video-wrap video{
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 1;
	opacity: 0.4;
	overflow: hidden;
}

.header-content{
	margin-left: 40px;
	z-index: 2;
	overflow: hidden;
}

.header-content h1{
	font-family: 'Righteous', cursive;
	font-size: 50px;
	width: 800px;
	margin-bottom: 0;
}

.header-content p{
	font-family: 'Playfair Display SC', serif;
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
}

.btn{
	background: #333;
	color: #FFFFFF;
	font-size: 1.2rem;
	padding: 0.5rem 0.5rem;
	text-decoration: none;
}

.section{
	padding: 10px 0;
}

.aboutP{
	display: block;
	margin: auto;
	max-width: 490px;
	position: absolute;
	float: left;
	top: 50%;
	left: 25vw;
	transform: translateY(-50%)
}

.MePhoto{
	max-width: 375px;
	max-height: ‭‬501px;
	overflow: hidden;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 55vw;
	transform: translateY(-50%);
	
}

.section-a{
	background: #333;
	color: #FFFFFF;
	height: 540px;
	position: relative;
}

.aboutP h1{
	margin-top: -5px;
}

.section-b{
	position: relative;
	min-height: 4vh;
}

.section-b p{
	display: block;
	width: 400px;
	overflow: hidden;
}

.project-container{
	display: inline-block;
	width: 50vw;
}

.projects{
	display: block;
	align-items: center;
	float:left; 
	width: 15vw;
	min-height: 30vh;
	margin: 0 10px 0 10px;
}

.projects img{
	max-width: 15vw;
	max-height: 15vh;
}

.projects p {
	display: inline-block;
	text-align: center;
	padding: 0 5 0 5;
	max-width: 15vw;
	font-size: 0.8rem;
}

#snackbar {
 	visibility: hidden; /* Hidden by default. Visible on click */
 	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
 	background-color: #eaeaea; /* Black background color */
 	color: #fff; /* White text color */
  	text-align: center; /* Centered text */
 	border-radius: 2px; /* Rounded borders */
 	padding: 16px; /* Padding */
 	position: fixed; /* Sit on top of the screen */
 	z-index: 1; /* Add a z-index if needed */
 	left: 39%; /* Center the snackbar */
 	bottom: 30px; /* 30px from the bottom */
 	letter-spacing: 3px;
 	line-height: 27px;
  	font-size: 15px;
	
	color: #222b2e;
}

.ProjectAbout{
	margin-top: 5vh;
}

.ProjectAbout img{
	width: 75%;
	height: 75%;
	margin-top: 10vh;
}

.ProjectAbout p{
	text-align: left;
	width: 50%;
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.Deliverables{
	text-align: left;
	padding-top: 1vh;
}

.Deliverables p{
	width: 25vw;
}

.textW{
	float: left;
	padding-right: 7vw;
}

.imgW{
	margin-top: 100px;
}

/* Moodal Stuff  */

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1200px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media(max-width:960px){
	.container{
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
